.labelCheck {
    display: block;
    padding: 10px;
    border: 3px dashed  rgb(0, 153, 255);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 20px;

}

.labelChecked {
    display: inline-block;
    padding: 10px;
    border: 3px solid rgb(0, 68, 255);
    /* background-color: rgba(255, 255, 255, 0.459); */
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 20px;

}

.list{
    display: flex;
}